<?xml version="1.0"?>
<launch>
    <!-- PX4 environment variables -->
    <set_env name="PX4_SIM_SPEED_FACTOR" value="1"/>

    <!-- Define arguments -->
    <arg name="real_world" default="false"/>
    <arg name="config_file" default="$(var config_file)"/>
    <arg name="no_start_pose" default="false"/>

    <!-- Set config file depending on real_world argument -->
    <let name="config_file" if="$(var real_world)" value="$(find-pkg-share martian_mines)/config/real.yaml"/>
    <let name="config_file" unless="$(var real_world)" value="$(find-pkg-share martian_mines)/config/sim.yaml"/>

    <!-- Group for real-world scenario -->
    <group if="$(var real_world)">
        <!-- Launch RealSense camera node -->
        <include file="$(find-pkg-share martian_mines)/launch/realsense.launch.xml"/>

        <!-- Launch MAVROS -->
        <include file="$(find-pkg-share mavros)/launch/px4.launch.xml" namespace="uav0">
            <arg name="fcu_url" value="udp://:14550@localhost:14550"/>
        </include>

        <!-- Set MAVROS parameters -->
        <rosparam param="uav0/mavros/local_position/tf/send">true</rosparam>
        <rosparam file="$(find-pkg-share martian_mines)/launch/mavros_plugins.yaml"/>

        <!-- TF for camera -->
        <node pkg="tf2_ros" exec="static_transform_publisher" name="tf_base_link_camera"
              args="0.18 0 -0.1 1.571 3.14 0 base_link camera_link"/>
    </group>

    <!-- Group for simulation scenario -->
    <group unless="$(var real_world)">
        <node pkg="tf2_ros" exec="static_transform_publisher" name="tf_base_link_camera"
              args="0 0 0 -1.571 0 -1.571 cgo3_camera_link camera_link"/>

        <!-- TF for development -->
        <node pkg="tf2_ros" exec="static_transform_publisher" name="tf_uber_map"
              args="30.5 -18.5 0 0 0 0 map uber_map"/>
    </group>

    <!-- UAV0 namespace -->
    <group namespace="uav0">
        <rosparam file="$(var config_file)"/>

        <!-- Remap topics if real_world -->
        <remap from="camera/image_raw" to="color/image_raw" if="$(var real_world)"/>
        <remap from="camera/camera_info" to="color/camera_info" if="$(var real_world)"/>

        <!-- Start pose transform node -->
        <node pkg="martian_mines" exec="tf_start_pose.py" name="tf_start_pose" output="screen" unless="$(var no_start_pose)"/>
    </group>
</launch>
