<?xml version="1.0"?>
<launch>
    <!-- Define arguments -->
    <arg name="real_world" default="false"/>
    <arg name="no_start_pose" default="false"/>

    <!-- Include the core launch file with arguments -->
    <include file="$(find-pkg-share martian_mines)/launch/core.launch.xml">
        <arg name="real_world" value="$(var real_world)"/>
        <arg name="no_start_pose" value="$(var no_start_pose)"/>
    </include>

    <!-- UAV0 namespace configuration -->
    <group namespace="uav0">
        <!-- Remap topics if running in real_world mode -->
        <remap from="camera/image_raw" to="color/image_raw" if="$(var real_world)"/>
        <remap from="camera/camera_info" to="color/camera_info" if="$(var real_world)"/>

        <!-- Launch detection nodes -->
        <node pkg="martian_mines" exec="detection.py" name="detection" output="screen"/>
        <node pkg="martian_mines" exec="figure_finder.py" name="figure_finder" output="screen"/>
        <node pkg="martian_mines" exec="report_uploader.py" name="uploader" output="screen"/>

        <!-- Call the figure_finder/start service -->
        <node pkg="ros2service" exec="ros2 service call" name="figure_finder_start" args="/figure_finder/start std_srvs/srv/Trigger"/>
    </group>
</launch>
